@charset "utf-8";
#header {
    height: 345px;
    width: 822px;
    margin: 10px
}
#header.banner0 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner1 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner2 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner3 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner4 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner5 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner6 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner7 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner8 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner9 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner10 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner11 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner12 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner13 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner14 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner15 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner16 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner17 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner18 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner19 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}
#header.banner20 {
background-image: url(/resource/ntcse_stu1061/images?f=0.jpg);
}